*{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

header{
  background-image: linear-gradient(to right, #c00e4f, #8b1f6e);
  color: white;
  height: 75px;
  display: flex;
  align-items: center;
}

.container-header-title-logo {
  margin-left: 80px;
}