header{
    background-image: linear-gradient(to right, #c00e4f, #8b1f6e);
    color: white;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .container-header-title-logo {
    margin-left: 80px;
  }
  
  .container-header-usuario {
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagem-usuario{
    background-color: #f3f5f7;
    width: 50px;
    height: 50px;
    color: #333333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
  }
  
  footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    color: #615f61;
  }